#mainsection {
    background-image: url('../images/background/');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-room-form {
    text-align: center;
    border: 1px solid black
}
#navbar {
    margin: 0;
}
.navbar-icons {
    margin: 0;
}

div {
    margin-top: 15px;
}

textarea {
    background: none;
    width: 500px;
    height: 200px;
}
.user-table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th, .content-table td  {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.insert-update {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    flex-wrap: wrap;
}
.insert-update form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: left
}

.insert-update input[type="submit"] {
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-delete {
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}