#mainsection {
    background-image: url('../images/background/contact-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#navbar {
    position: static;
    margin-bottom: 150px;
}


.contact-form-left {
    width: 550px;
    height: 100%;
    
}
.contact-form-right {
    width: 550px;
    height: 70%;
    margin-left: 50px;
    display: block;
    color: white;
    font-family: 'DM Mono', monospace;
}
.color::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
    opacity: 0.5;
 }
.address > p {
    width: 550px;
    font-size: 25px;
}
.phone-number > p {
    width: 250px;
    font-size: 25px;
    color: #e62900;
    background-color: rgb(0,0,0, 0.5);
}
.ouremail > p {
    width: 550px;
    font-size: 25px;
}
.name-section {
    color: white;
    width: 100%;
    display: block;

}
label {
    margin-top: 50px;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    display: block;
}
input {
    border: none;
    border-bottom: 1px solid white;
    border-width: 3px;
    background-color: rgb(0,0,0, 0.2);
    color: white;
    font-size: 25px;
    margin-top: 15px;
    outline: none;
    font-family: monospace;
    margin-bottom: 25px;
}
input[type=email] {
    width: 450px;
}
.message-input {
    width: 500px;
    height: 150px;
    border: 1px white solid;
    border-radius: 0;
    background-color: rgb(0,0,0, 0.2);
    outline: none;
    font-family: monospace;
    color: white;
    font-size: 25px;
}

button[type=submit] {
    width: 140px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: 1px solid #e62900;
    margin-top: 15px;
    transition: 1s;
    cursor: pointer;
    outline: none;
}
button[type=submit]:hover {
    width: 50%;
    background-color: transparent;
    border: 1px solid coral;
    background-color: rgb(0, 0, 0, 0.8);
    transition: ease-in-out 0.5s;
}
  
@media screen and (max-width: 720px) {
    #navbar {
        margin-bottom: 50px;
    }
    #mainsection {
        height: 100%;
    }
    .contact-form-left {
        text-align: center;
        margin-bottom: 150px;
    }
    
    .address > p {
        width: 100%;
    }
    .phone-number > p{
        width: 100%;
    }
    .ouremail > p{
        width: 100%;
    }
}
@media (min-width: 650px) and (max-width: 1024px) {
    #mainsection {
        height: 100%;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    #mainsection {
        height: 100%;
    }
    
  }