#popup {
    width: 80%;
    height: 100%;
    background-color: rgba(255,255,255);
    justify-content: space-between;
    display: none;
    margin-bottom: 20px;
    position: absolute;
    top: calc(50% - 200px);
}
.popup-images {
    width: 50%;
    height: 100%;
    flex-direction: column;
    border-right: solid 1px black;
}
#popup > i {
    position: absolute;
    font-size: 30px;
    padding: 10px;
}
#popup-main-image {
    width: 100%;
    height: 600px;
    user-select: none;
}
.popup-small-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    user-select: none;
    margin-bottom: 10px;
}
.small-images {
    flex-direction: row;
}
#popup-left-arrow, #popup-right-arrow {
    font-size: 70px;
    user-select: none;
}
#popup-left-arrow {
    padding-right: 15px;
}
#popup-right-arrow {
    padding-left: 15px;
}

.popup-form {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 720px) { 

    .popup-small-image {
        width: 50px;
        height: 50px;
    }
    #popup {
        width: 100%;   
        position: absolute;
    }
    .popup-images {
        width: 80%;
    }
}