#rooms-mainsection {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
}
#navbar {
    position: static;
    margin-bottom: 150px;
}

.rooms-page {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50px;
}

.featured-room1 {
    width: 250px;
}
.rooms-page > h1 {
    font-size: 50px;
    font-family: 'DM Mono', monospace;
}
.h2 {
    font-family: 'DM Mono', monospace;
    font-size: 35px;
}
.boxes {
    flex-wrap: wrap;

}
.box {
    width: 400px;
    height: 500px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    transition: 0.5s;
    margin-bottom: 10;
    background-color: #FFDEFF;
}
#box-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}
hr {
    width: 50%;
    height: 3px;
    background-color: black;
    color: black;
}
.text {
    height: 30%;
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}
.room-detail-left {
    text-align: center;
    width: 70%;
    height: 40px;
    background-color: #b68e58;
    color: white;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    margin-left: 15%;
}

.room-detail-left:hover {
    cursor: pointer;
}

.btn {
    width: 100%;
    background-color: #b68e58;
    outline: none;
    height: 100%;
    cursor: pointer;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    transition: 1s;
    border: none;
}
#btn:hover {
    background-color: black;
    color: white;
}