body {
    margin: 0;
    padding: 0;
}
.mainsection {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/background/mainbackground.jpg');
}
#navbar {
    width: 100%;
    position: fixed;
}
.navbar-logo {
    width: 12%;
    float: left;
    padding-left: 100px;
}
.navbar-links {
    color: white;
    font-size: 15px;
    font-family: monospace;
}
.navbar-links > ol {
    display: flex;

}
ul {
    text-decoration: none;
    padding-top: 25px;
    padding-left: 150px;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: yellow;
}
.middle-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;  
}
.title {
    width: 100%;
    text-align: center;
}