body {
    margin: 0;
    padding: 0;
}
#mainsection {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/background/mainbackground.jpg');
}
#navbar {
    width: 100%;
    position: fixed;

}
.navbar-location {
    margin-top: 35px;
    margin-left: 50px;
}
.location-font {
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.middle-title {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;  
}
.title {
    width: 100%;
    text-align: center;
}
/* Mouse scroll part */
.mouse-scroll {
    text-align: center;
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
    animation: scroll ease 1.5s infinite;
    text-align: center;
}

/* Second section */

#second-section {
    width: 100%;
    height: 80vh;
}
.offers > h1 {
    text-align: center;
    font-size: 50px;

}
.boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.box {
    margin-top: 150px;
    text-align: center;
    width: 150px;
    margin-right: 50px;
    height: 150px;
}


.third-section {
    width: 100%;
    height: 70vh;
    background: url("/images/wallpapers/palace0.jpg")  no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}