body {
    margin: 0;
    padding: 0;
}

#mainsection {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/background/mainbackground.jpg');
}
.displaynone {
    display: none;
}
.navbar-logout {
    width: 20%;
    color: white;
    display: flex;
    margin-left: 35px;
    margin-top: 0.5%;
}
.logout-button {
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
    outline: none;
    margin-left: 15px;
    margin-top: 5%;
    
}
#navbar {
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 10;
    background-color: rgb(0,0,0,0.8);
    color: black;
}
.navbar-icons {
    display: inherit;
    width: 95%;
    text-align: center;
}
.featured-text {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    color: black;
    margin-top: 20%;
    z-index: 5;
}
a {
    text-decoration: none;
    color: white;
}

.navbar-location {
    width: 17%;
    margin-top: 25px;
    margin-left: 30px;
}
.navbar-home {
    width: 10%;
    margin-top: 25px;
    margin-left: 30px;
}
.location-font {
    font-size: 15px;
    padding-left: 10px;
    font-family: 'DM Mono', monospace;
    font-style: italic;
}
.i {
    color: white;
    transition: 1s;
}
.i:hover {
    user-select: none;
    cursor: pointer;
    color: #c9a96a;
    transform: translateY(-2px);
    transition: ease-in-out 0.5s;
}
.navbar-logo {
    width: 10%;
    margin-left: 5%;
}
.navbar-phone {
    width: 15%;
    margin-top: 25px;
}
.navbar-book {
    width: 15%;
    margin-top: 25px;

}

.middle-title {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
}
.title {
    width: 100%;
    text-align: center;
}
/* Mouse scroll part */
.mouse-scroll {
    text-align: center;
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
    animation: scroll ease 1.5s infinite;
    text-align: center;
}

/* Second section */

#second-section {
    width: 100%;
    height: 100%;
}
.offers > h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 10px;
}
.offers > hr {
    width: 70%;
    opacity: 0.4;
    margin-bottom: 52px;
    border-left-color: black;
    border: 1px solid black;
}
.boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    user-select: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    text-align: center;
    width: 300px;
    margin-right: 50px;
    padding: 20px;
    background-color: #FFF1F1;
    transition: ease-in-out 0.5s;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    
}
/* .box:hover {
    transform: scale(1.1);
} */
.box > p {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#third-section {
    width: 100%;
    height: 60vh;
    background: url("../images/wallpapers/caesars.jpg")  no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking {
    color: white;
    text-align: center;
    width: 250px;
    border: white 1px dashed;
    justify-content: center;
    transition: 1s;
    user-select: none;
}
.booking:hover {
    background-color: tan;
    border: white 1px solid;
    color: black;
    transition: 1s;
    cursor: pointer;
}

/* Fourth section */

#fourth-section {
    width: 100%;
    height: 100%;
}
.side-title {
    width: 100%;
}
.side-title > h1 {
    margin-top: 50px;
    text-align: left;
    padding-left: 40px;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
}
.room-chamber {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    font-size: 50px;
}
.room1 {
    background-color:rgb(194,179,158, 0.3);
    text-align: center;
    float: left;
    width: 50%;
    height: 100%;
    transition: 1s;
}
.rooms-image {
    opacity: 0.5;
    transition: 1s;
}
.rooms-image:hover {
    opacity: 1;
    transition: 1s;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
}
.room2 {
    text-align: center;
    float: right;
    width: 50%;
    background-color: rgb(159,149,166, 0.3);
    transition: 1s;
}
.room2:hover {
    background-color: rgb(159,149,166, 1);
    transition: ease-in 0.5;
}
.room1:hover {
    background-color:rgb(194,179,158, 1);
    transition: ease-in 0.5;
}

/* Footer section */

#footer {
    width: 100%;
    height: 100%;
    bottom: 0;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer-section1 {
    width: 500px;
    text-align: center;
}
.footer-section1 > h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.footer-section1 > a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
 a:hover {
    border-bottom: white solid 1px;
    transition: ease-in-out 1s;
}
.social-links > i {
    margin-top: 25px;
    padding: 10px;
} 
.footer-section2, .footer-section3, .footer-section4 {
    width: 500px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.footer-section4 {
    width: 400px;
}
.footer-section2 > h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 35px;
    
}

.footer-section5 {
    width: 100%;
}
.copyright-text {
    text-align: center;
    padding-top: 50px;
    font-style: italic;
}
.footer-section4 {
    text-align: left;
    margin-top: 5%;
}
.footer-section4 > p {
    font-size: 20px;
}

/* Responsivnes */

@media screen and (max-width: 720px) {
    .main-title {
        width: 100%;
    }
    #second-section {
        height: 100%;
    }
    .footer-section1, .footer-section2 {
        width: 100% !important;
    }
    .one, .two, .three {
        display: none;
    }
    .navbar-location {
        width: 16%;
    }
    .footer-section4 {
        margin-left: 5%;
    }
    .text {
        font-size: 25px;
    }
    .featured-text {
        font-size: 35px;
    }
    .navbar-logo {
        display: none;
    }
    .navbar-background {
        text-align: center;
    }
    .navbar-logo {
        width: 25%;
    }

}